.globalFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: #ff69b4; /* Hot Pink text */
    border-top: 1px solid rgba(231, 231, 231, 0.7);
  }